<section class="work-section">
    <div class="work-main">
        <div class="work-title">
            <h1>Lets hace a conversation</h1>
        </div>
        <div class="work-bar">
            <p></p>
        </div>
        <div class="work-frase">
            <p>“Talking to these guys was actually fun! Their work was amazing.”  - Some client</p>
        </div>
    </div>
</section>

<section class="contact-home">
    <div class="contact-main">
        <div class="contact-data">
            <div class="contact-title">
                <p>GET IN TOUCH</p>
            </div>
            <div class="contac-icon">
                <img src="assets/img/60e32f142b39bd6f8db5e885_envelope.svg" alt="email">
                <p>contact@stoneagency.com</p>
            </div>
            <div class="contac-icon">
                <img src="assets/img/60e32f142b39bdc772b5e889_map-pin.svg" alt="address">
                <p>1423 Elk Street</p>
                <p>Brooklyn, NY 82328</p>
            </div>
        </div>
        <div class="contact-section">
            <div class="contact-container">
                <div class="contact-inputdate">
                    <input type="text" placeholder="NAME" name="nombre">
                </div>
                <div class="contact-inputdate">
                    <input type="email" placeholder="EMAIL" name="email">
                </div>
                <div class="contact-inputdate">
                    <input type="text" placeholder="BUDGET">
                </div>
                <div class="contact-inputdate">
                    <textarea name="" id="" cols="14.5" rows="2" placeholder="PROJECT DESCRIPTION"></textarea>
                </div>
                <div class="contact-button">
                    <button>SEND EMAIL</button>
                    <P>Well get back to you within 48 hours</P>
                </div>
            </div>
        </div>
    </div>

</section>