<footer>
    <div class="footer-main">
        <div class="footer-logo-year">
            <img src="assets/img/60e32f142b39bd398fb5e87e_stone-logo.svg" alt="Logo">
            <p> 2014 Stone Creative Agency</p>
        </div>
        <div class="footer-button">
            <button [routerLink]="['/contact']">
                GET IN TOUCH WITH US
            </button>
        </div>
        <div class="footer-address">
            <p>1423 Elk St, Brooklyn NY, 82328</p>
        </div>
    </div>
</footer>