<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <a [routerLink]="['home']">
                <img src="assets/img/60e32f142b39bd970ab5e895_stone-logo-beige.svg" alt="">
            </a>
            <p>STONE</p>
        </div>
        <div class="nav-pages-section">
            <div class="nav-page" routerLinkActive="active">
                <a class="color-a" [routerLink]="['home']">HOME</a>
            </div>
            <div class="nav-page" routerLinkActive="active">
                <a class="color-a" [routerLink]="['work']">WORK</a>
            </div>
            <div class="nav-page" routerLinkActive="active">
                <a class="color-a" [routerLink]="['contact']">CONTACT</a>
            </div>
        </div>

        <div class="nav-redes">
            <div class="nav-red-img">
                <img src="assets/img/60e32f142b39bd2034b5e882_facebook-icon2.svg" alt="">
            </div>
            <div class="nav-red-img">
                <img src="assets/img/60e32f142b39bd445cb5e898_twitter-icon.svg" alt="">
            </div>
        </div>

    </div>
</nav>