<section class="section-home">
    <div class="section-home-container">
        <div class="section-titles">
            <h1>WE KEEP THINGS</h1>
        </div>
        <div class="section-border"></div>
        <div class="section-parrafo">
            <p>So clean you’ll go crazy wondering why it’s so clean. </p>
        </div>
        <div class="section-button">
            <button [routerLink]="['/work']" class="section-btn col-word">
                SEE OUT WORK
            </button>
        </div>
        <div class="section-title">
            <h1>CLEAN AND SIMPLE</h1>
        </div>
    </div>

</section>

<section class="section-ventajas">
    <div class="section-ventajas-container">
        <div class="sect-ventajas-main">
            <p class="sect-vent-p1">001</p>
            <hr>
            <div class="sect-vent-name">
                <p class="sect-vent-p2">RESEARCH</p>
            </div>
            <div class="sect-vent-img">
                <img src="assets/img/60e32f142b39bd2557b5e892_lightbulb_white.svg" alt="">
            </div>
            <div class="sect-venta-bio">
                <p class="sect-vent-p3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci pariatur rem praesentium sed voluptas. </p>
            </div>
        </div>
        <div class="sect-ventajas-main">
            <p class="sect-vent-p1">002</p>
            <hr>
            <div class="sect-vent-name">
                <p class="sect-vent-p2">BUILD</p>
            </div>
            <div class="sect-vent-img">
                <img src="assets/img/60e32f142b39bd0656b5e890_mobile-white.svg" alt="">
            </div>
            <div class="sect-venta-bio">
                <p class="sect-vent-p3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci pariatur rem praesentium sed voluptas.</p>
            </div>
        </div>
        <div class="sect-ventajas-main">
            <p class="sect-vent-p1">003</p>
            <hr>
            <div class="sect-vent-name">
                <p class="sect-vent-p2">OPTIMIZE</p>
            </div>
            <div class="sect-vent-img">
                <img src="assets/img/60e32f142b39bd9030b5e88c_linegraph_white.svg" alt="">
            </div>
            <div class="sect-venta-bio">
                <p class="sect-vent-p3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci pariatur rem praesentium sed voluptas.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-resena">
    <div class="section-resena-title">
        <h2>The dising preocess, at its best, integrates the <br> aspirations of art, science, and culture.</h2>
    </div>
    <div class="section-resena-bar">

    </div>
</section>

<section class="section-team">
    <div class="section-team-container">
        <div class="section-team-main">
            <h2>THE TEAM</h2>
        </div>
        <div class="section-team-main">
            <div class="section-team-photo">
                <img src="assets/img/jack-finnigan-rriAI0nhcbc-unsplash.jpg" alt="team">
            </div>
            <div class="section-team-name">
                <p class="team-name">Peter Walik</p>
                <p class="team-work">Founder</p>
            </div>
            <div class="section-team-redes">
                <img src="assets/img/60e32f142b39bd5ab5b5e8a0_facebook-icon_black.svg" alt="facebook">
                <img src="assets/img/60e32f142b39bd7bc7b5e897_twitter-icon_black.svg" alt="twitter">
                <img src="assets/img/60e32f142b39bd2842b5e894_linkdin-icon-black.svg" alt="linkedin">
            </div>
        </div>
        <div class="section-team-main">
            <div class="section-team-photo">
                <img src="assets/img/jack-finnigan-rriAI0nhcbc-unsplash.jpg" alt="team">
            </div>
            <div class="section-team-name">
                <p class="team-name">Peter Walik</p>
                <p class="team-work">Founder</p>
            </div>
            <div class="section-team-redes">
                <img src="assets/img/60e32f142b39bd5ab5b5e8a0_facebook-icon_black.svg" alt="facebook">
                <img src="assets/img/60e32f142b39bd7bc7b5e897_twitter-icon_black.svg" alt="twitter">
                <img src="assets/img/60e32f142b39bd2842b5e894_linkdin-icon-black.svg" alt="linkedin">
            </div>
        </div>
        <div class="section-team-main">
            <div class="section-team-photo">
                <img src="assets/img/jack-finnigan-rriAI0nhcbc-unsplash.jpg" alt="team">
            </div>
            <div class="section-team-name">
                <p class="team-name">Peter Walik</p>
                <p class="team-work">Founder</p>
            </div>
            <div class="section-team-redes">
                <img src="assets/img/60e32f142b39bdb557b5e883_behance-icon-black.svg">
                <img src="assets/img/60e32f142b39bd7bc7b5e897_twitter-icon_black.svg" alt="twitter">
                <img src="assets/img/60e32f142b39bd6644b5e88e_instagram-icon-black.svg" alt="linkedin">
                <img src="assets/img/60e32f142b39bdd5c4b5e88f_dribbble-icon-black.svg" alt="linkedin">

            </div>
        </div>

    </div>
</section>

<section class="section-testimonials">
    <div class="testimonial-container">
        <div class="test-title-container">
            <p>TESTIMONIALS</p>
        </div>
        <div class="testimonial-bar"></div>
        <div class="test-coment">
            <div class="test-coment-main">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi fugit, explicabo vero excepturi id consectetur sit in nemo cum! Eius, quas. Voluptas porro blanditiis vero nulla soluta voluptatibus est quisquam?</p>
                <div class="test-coment-name">
                    <p>ROBERT SHAPIRO, CEO OF TRULR</p>
                </div>
            </div>
            <div class="test-coment-main">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi fugit, explicabo vero excepturi id consectetur sit in nemo cum! Eius, quas. Voluptas porro blanditiis vero nulla soluta voluptatibus est quisquam?</p>
                <div class="test-coment-name">
                    <p>ROBERT SHAPIRO, CEO OF TRULR</p>
                </div>
            </div>
        </div>
    </div>
</section>