<section class="work-section">
    <div class="work-main">
        <div class="work-title">
            <h1>Check out out awesome work</h1>
        </div>
        <div class="work-bar">
            <p></p>
        </div>
        <div class="work-frase">
            <p>"These guys are top notch fellows." -Some client</p>
        </div>
    </div>
</section>

<section class="proyects-section-one">
    <div class="proyect-main-one">
        <div class="proyect-descrip">
            <div class="proyect-title">
                <p>WEBFLOW</p>
            </div>
            <div class="proyect-parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cum deserunt. Sed, vitae. Nulla, officia, reprehenderit vel illum minus quae dolorum autem sint.</p>
            </div>
            <div class="proyect-icons">
                <img src="assets/img/60e32f142b39bd0f11b5e891_tag-icon-black.svg" alt="">
                <p>Web Desing</p>
                <img src="assets/img/60e32f142b39bd0f11b5e891_tag-icon-black.svg" alt="">
                <p>Icon Desing</p>
            </div>
            <div class="proyect-button">
                <button>
                    VIEW PROYECT
                </button>
            </div>
        </div>
        <div class="proyect-image">
            <img src="assets/img/60e32f142b39bd8065b5e887_Project.jpg" alt="">
        </div>
    </div>

</section>


<section class="proyects-section-two">
    <div class="proyect-main-two">
        <div class="proyect-image">
            <img src="assets/img/60e32f142b39bd8065b5e887_Project.jpg" alt="">
        </div>
        <div class="proyect-descrip">
            <div class="proyect-title">
                <p>COMET SKATEBOARDS</p>
            </div>
            <div class="proyect-parrafo">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cum deserunt. Sed, vitae. Nulla, officia, reprehenderit vel illum minus quae dolorum autem sint.</p>
            </div>
            <div class="proyect-icons">
                <img src="assets/img/60e32f142b39bd0f11b5e891_tag-icon-black.svg" alt="">
                <p>Web Desing</p>
                <img src="assets/img/60e32f142b39bd0f11b5e891_tag-icon-black.svg" alt="">
                <p>Icon Desing</p>
            </div>
            <div class="proyect-button">
                <button>
                    VIEW PROYECT
                </button>
            </div>
        </div>

    </div>

</section>